<section>
    <h2>{% trans %}header.legal.identity{% endtrans %}</h2>
    <p>{% trans from 'context' %}text.legal.identity{% endtrans %}</p>
    <aside>
      <h3>{% trans %}header.legal.contact{% endtrans %}</h3>
        <address>{% trans from 'context' %}text.legal.contact{% endtrans %}</address>
    </aside>
</section>
<section>
    <h2>{% trans %}header.legal.ownership{% endtrans %}</h2>
    <p>{% trans from 'context' %}text.legal.ownership{% endtrans %}</p>
</section>
<section>
  <h2>{% trans %}header.legal.hosting{% endtrans %}</h2>
  <p>{% trans from 'context' %}text.legal.hosting{% endtrans %}</p>
</section>
<section>
  <h2>{% trans %}header.legal.data{% endtrans %}</h2>
  <p>{% trans from 'context' %}text.legal.data.purpose{% endtrans %}</p>
  <p>{% trans from 'context' %}text.legal.data.mandatory{% endtrans %}</p>
  <p>{% trans from 'context' %}text.legal.data.recipient{% endtrans %}</p>
  <aside>
    <h3>{% trans %}header.legal.data.contact{% endtrans %}</h3>
    <address>{% trans from 'context' %}text.legal.data.contact{% endtrans %}<address>
  </aside>
  <p>{% trans from 'context' %}text.legal.data.duration{% endtrans %}</p>
</section>
<aside>
  <h3>{% trans %}header.legal.source{% endtrans %}</h3>
  <p>
    Bercy Infos, <i>Mentions sur votre site internet : les obligations à respecter</i>, 2022/03/21:
    <a href="https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires">
      https://www.economie.gouv.fr/entreprises/site-internet-mentions-obligatoires
    </a>
    {% trans with {'%date': '2022/04/01'} %}text.accessed.on{% endtrans %}
  </p>
</aside>
