{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.about{% endtrans %}{% endblock %}

{% block content %}
<section>
    <h2>{% trans %}title.about.site{% endtrans %}</h2>
    <p>{% trans from 'context' %}text.about.site{% endtrans %}</p>
    <p>{% trans from 'context' %}text.about.development{% endtrans %}</p>
</section>
<aside>
    <p>{% trans %}warning.dev{% endtrans %}</p>
</aside>
{% endblock %}
