{% extends 'base.html.twig' %}

{% block notifications %}
{% endblock %}

{% block title %}
  {% if app.user %}
    {% trans with {'user': app.user.username} %}title.landing.user{% endtrans %}
  {% else %}
    {% trans %}title.landing{% endtrans %}
  {% endif %}
{% endblock %}

{% block content %}
  <h2>{% trans %}header.landing.articles{% endtrans %}</h2>
  <p>
    {% trans with {'link': path('list_articles')} %}
      text.landing.articles
    {% endtrans %}
  </p>
{% endblock %}
