{% extends 'base.html.twig' %}

{% block title %}{% trans %}header.legal{% endtrans %}{% endblock %}

{% block content %}
  {{ render(controller('App\\Controller\\LandingController::legalMentions')) }}
{% endblock %}
