<template id="article-card">
  <a class="btn important card-title">
    {% trans %}article.title.loading{% endtrans %}
  </a>
  <p class="card-content">
    {% trans %}article.description.missing{% endtrans %}
  </p>
  <address class="card-author"></address>
  <time class="card-created"></time>
  <a class="card-link btn success">{% trans %}article.link.read{% endtrans %}</a>
</template>
