<template id="decoration-quote">
    <p class="decoration-loading">{% trans %}decoration.quote.loading{% endtrans %}</p>
    <p class="decoration-content" hidden="true"></p>
    <address></address>
    <a href="https://motivational-quote-api.herokuapp.com/quotes/random" data-action="decoration#getQuote" class="btn">{% trans %}decoration.quote.btn{% endtrans %}</a>
</template>
