<template id="modal-dialog">
    <header>
        <slot name="close-button"></slot>
        <slot name="header"></slot>
    </header>
    <div>
        <slot name="content"></slot>
    </div>
    <footer>
        <slot name="footer"></slot>
    </footer>
</template>
