<template id="note-card" data-message-delete-success="{{ 'message.note.deleted' | trans }}" data-message-delete-error="{{ 'message.note.deletion.error' | trans }}">
    <toggler-button class="open-note">
      <button slot="title" class="important note-title">
        {% trans %}loading.note{% endtrans %}
      </button>
    </toggler-button>
    <p class="note-category"></p>
    <p class="note-date">
        <time class="note-created"></time>
        (<time class="note-updated"></time>)
    </p>
    <toggler-button class="note-delete">
        <button slot="title" class="danger">{% trans %}btn.note.delete{% endtrans %}</button>
    </toggler-button>
</template>

<template id="note-delete">
    <h3 slot="header">{% trans %}header.delete.confirm{% endtrans %}</h3>
    <div slot="content">
        <button class="danger important" data-action="note#delete">
          {% trans %}note.delete.confirm{% endtrans %}: <span data-content="note-title"></span>
        </button>
    </div>
</template>
