<template id="notification-message">
  <style>
	.close {
		position: absolute;
		top: calc(var(--notification-padding) / 3);
		right: calc(var(--notification-padding) / 4);
		width: 20px;
		height: 20px;
		font-size: 20px;
		margin: 0;
		padding: 0;
		text-align: center;
		font-family: sans-serif;
	}
  </style>
  <slot name="close-button">
  </slot>
  <slot name="content">
  </slot>
</template>
