<template id="toggler-button">
    <style>
        a {
            display: inline-block;
            cursor: pointer;
        }

        .bar1,
        .bar2,
        .bar3 {
            display: block;
            width: 20px;
            height: 2px;
            background-color: var(--foreground);
            margin: 5px 0;
            transition: 0.4s;
        }

        .expanded .bar1 {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg) translate(-5px, 5px);
        }

        .expanded .bar2 {
            width: 0;
        }

        .expanded .bar3 {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg) translate(-5px, -5px);
        }
    </style>
    <slot name="title">
        <a href="#">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
        </a>
    </slot>
</template>
