.articles-list {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 600px));
	justify-content: space-evenly;
	width: 100%;
}
[data-controller=notes] {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

article-card, note-card {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	transition: 1s;
	justify-content: space-between;
}
article-card {
	border-right: 1px solid var(--primary);
	border-top: 1px solid var(--primary);
	padding: 15px;
}
note-card {
	background-color: var(--tertiary);
	padding: 5px;
}

article-card .card-content {
	text-align: justify;
}


.note-category {
	font-size: .75rem;
	color: var(--light);
	margin: 0;
}
.note-date {
	font-size: .6rem;
	text-indent: 0;
	color: var(--light);
	margin: 0;
}
