button,
.btn {
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
	background-color: var(--primary);
	color: var(--light);
	border-radius: 5px;
	transition: 0.4s;
	box-shadow: unset;
	border: 1px solid var(--tertiary);
	cursor: pointer;
	text-align: center;
	font-size: 1em;
	text-indent: 0;
}

button:hover,
button:focus-within,
.btn:hover,
.btn:focus-within {
	background-color: var(--tertiary);
	color: var(--dark);
	border: 1px solid var(--primary);
}

.btn.success,
button.success,
[type="submit"] {
	background-color: green;
	border: 1px solid var(--tertiary);
}
.btn.danger, button.danger
{
	background-color: var(--secundary);
	border: 1px solid var(--light);
}

.btn.success,
button.success,
[type="submit"],
.btn.important,
button.important {
	margin: .5em 0 .5em 0;
	width: 100%;
}

toggler-button:focus-within {
	--foreground: var(--tertiary) !important;
}

#navbar>ul li {
	cursor: pointer;
}

modal-dialog {
	--modal-margin: 20px;
	--modal-padding: 15px;
	/* Position */
	position: fixed;
	top: var(--modal-margin);
	left: var(--modal-margin);
	right: var(--modal-margin);
	padding: var(--modal-padding);
	padding-right: calc(var(--modal-padding) + 20px);
	z-index: 3;
	/* Decoration */
	opacity: 1;
	background-color: var(--background);
	color: var(--foreground);
	border-radius: var(--modal-padding);
	overflow-y: scroll;
	scrollbar-color: var(--primary) rgba(0, 0, 0, 0);
	border: 2px solid var(--tertiary);
	box-shadow: 5px 5px 5px var(--primary);
	/* Animation */
	transition: 0.4s;
	max-height: calc(100vh - calc(calc(2 * var(--modal-padding) + calc(2 * var(--modal-margin)))));
	max-width: 100vw;
	height: auto;
}

modal-dialog toggler-button {
	position: fixed;
	top: calc(var(--modal-padding) + var(--modal-margin));
	right: calc(var(--modal-padding) + var(--modal-margin));
}

notification-message {
	--notification-padding: 15px;
	position: relative;
	display: block;
	background-color: var(--primary);
	color: var(--light);
	--foreground: var(--light);
	border: 1px solid var(--light);
	min-height: 20px;
	max-width: calc(100% - calc(2 * var(--notification-padding)));
	padding: var(--notification-padding);
	padding-right: calc(var(--notification-padding) + 20px);
	border-radius: var(--notification-padding);
	box-shadow: 2px 2px 2px var(--primary);
	margin-bottom: var(--notification-padding);
	transition: 0.4s;
}
notification-message.error {
	background-color: var(--secundary);
	border: 1px solid var(--light);
	box-shadow: 2px 2px 2px var(--secundary);
	color: var(--light);
	--foreground: var(--light);
	--link: var(--tertiary);
}
notification-message.success {
	background-color: green;
}

notification-message [slot=close-button] {
	position: absolute;
	top: calc(var(--notification-padding) / 3);
	right: calc(var(--notification-padding) / 4);
	width: 20px;
	height: 20px;
	font-size: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
	z-index: 1;
	--link: var(--foreground);
}

notification-message[aria-disabled=true] {
	max-width: 0;
	max-height: 0;
	padding: 0;
	margin: 0;
}

header decoration-quote {
	width: 100%;
	height: var(--header-height);
	position: absolute;
	padding: 0 !important;
	top: 0;
	left: 0;
	z-index: -1;
}

decoration-quote {
	border-radius: 5px;
	color: var(--light);
	--link: var(--tertiary);
	display: block;
	text-align: center;
	transition: 0.4s;
}
decoration-quote canvas {
	border-radius: 5px;
}


