form {
	width: 100%;
	--input-padding: .5em;
	--input-border: 1px;
}

form>div {
	width: 100%;
	margin-top: 1em;
}

form label {
	display: block;
}


form input,
form textarea {
	display: block;
	width: calc(100% - 2 * var(--input-padding) - 2 * var(--input-border));
	padding: var(--input-padding);
	border-radius: .5em;
	box-shadow: none;
	border: var(--input-border) solid var(--border);
	font-family: sans-serif;
}

form input[type="checkbox"] {
	display: inline-block;
}

form input {
	height: 1rem;
}

form textarea {
	min-height: 3rem;
	height: auto;
	resize: vertical;
}

@media (orientation: landscape) {
	form input:focus {
		width: calc(50% - 2 * var(--input-padding) - 2 * var(--input-border));
		float: left;
	}

	form .help-text {
		width: calc(50% - var(--padding-left));
	}

	form input:focus+.help-text {
		min-height: calc(1rem + 2 * var(--input-padding) + 2 * var(--input-border));
	}
}

form .help-text {
	--padding-left: 10px;
	display: block;
	font-size: .8rem;
	margin: 0;
	padding: 0 0 0 var(--padding-left);
	height: 0;
	overflow: hidden;
}

form input:focus + .help-text,
form textarea:focus + .help-text {
	height: 100%;
}

/* Form errors (should be nice to add a class to that later) */
form div label ~ ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid var(--secundary);
	border-top: none;
	border-right: none;
	color: var(--secundary);
}
