/***
 * Main layout
 ***/
body {
	/* Position */
	margin: 0;
	padding: 0;
	/* Colors */
	background-color: var(--background);
	color: var(--foreground);
	/* Layout customizations
	 * Throw the footer to the bottom of the screen if the page is not hight enough */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	--nav-height: 50px;
	--header-height: calc(2 * var(--nav-height));
	overflow-x: hidden;
}

body > nav {
	/* Position */
	--nav-padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: var(--nav-height);
	padding: 0;
	z-index: 2;
	/* Colors */
	--background: var(--light);
	--foreground: var(--dark);
	--link: var(--primary);
	color: var(--foreground);
	background-color: var(--background);
	/* Layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

body > nav ul {
	/* Position */
	margin: 0;
	padding: 0;
	/* Decoration */
	list-style-type: none;
}
body > nav li {
	/* Position */
	padding: 15px;
}

body > nav > header {
	/* Position */
	padding: 0px var(--nav-padding);
	width: calc(100% - calc(2 * var(--nav-padding)));
	height: var(--nav-height);
	/* Layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	/* Colors */
	background-color: var(--primary);
	--foreground: var(--light);
	--link: var(--light);
	color: var(--foreground);
}
body > nav > header a,
body > nav > header h1 {
	margin-right: 10px;
}

#navbar {
	/* Position */
	margin: 0;
	max-height: calc(100vh - var(--nav-height));
	width: 100%;
	/* Decoration */
	transition: max-height 0.2s linear;
	border-top: 1px solid var(--light);
	border-bottom: 1px solid var(--primary);
	/* Layout */
	display: flex;
	flex-direction: rows;
	align-items: flex-start;
	justify-content: space-around;
	overflow-y: scroll;
}

#navbar > ul {
	flex: 1;
}
#navbar > ul li {
	border-right: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
}
#navbar > ul li:focus-within,
#navbar > ul li:hover {
	background-color: var(--primary);
	--link: var(--light);
}

#navbar > ul li[aria-selected=true] {
	position: relative;
	background-color: var(--secundary);
	border-right: 2px solid var(--secundary);
	--link: var(--light);
}
#navbar > ul li[aria-selected=true]:after {
	content: "";
	position: absolute;
	left: calc(100% + 2px);
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: var(--secundary);
	margin-top: -25px;
}

menu-category {
	flex: 2;
}
menu-category li {
	border-bottom: 1px solid var(--primary);
	border-left: 1px solid var(--primary);
	padding-left: 30px !important;
}
menu-category li:last-child {
	border-bottom: none;
}
menu-category li:hover,
menu-category li:focus-within {
	background-color: var(--primary);
	--link: var(--light);
}

body > main {
	/* Position
	 * Taking into acount that the nav is fixed, so not in the flow */
	margin-top: var(--nav-height);
}

body > main > header {
	/* Position */
	margin: 0;
	padding: 0;
	min-height: var(--header-height);
	position: relative;
	/* Colors */
	--foreground: var(--light);
	--link: var(--tertiary);
	color: var(--foreground);
	width: 100%;
	/* Layout
	 * Display the title on the bottom of the header */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (min-width: 500px) {
	body {
		--header-height: 200px;
	}
}

body > main > header * {
	/* Position */
	margin: 0;
	padding: 5px;
	background-color: black;
	border-radius: 5px;
}

.content {
	padding: 20px 10px 20px 10px;
}

modal-dialog [slot="content"] h2,
.content section h2,
.content aside h2 {
	border-bottom: 1px solid var(--primary);
}

.content section p {
	text-align: justify;
}

modal-dialog [slot="content"] aside,
.content aside,
modal-dialog [slot="content"] blockquote,
.content blockquote {
	border-radius: 5px;
	padding: 5px 15px;
	background-color: var(--primary);
	color: var(--light);
	--link: var(--tertiary);
}
modal-dialog [slot="content"] aside h2,
.content aside h2 {
	margin: 0;
}
modal-dialog [slot="content"] aside p,
.content aside p {
	text-align: center;
	text-indent: 0;
}

body > footer {
	/* Position */
	--footer-padding: 10px;
	--footer-margins: calc(2 * var(--footer-padding));
	margin-top: auto;
	padding: var(--footer-padding);
	/* Color */
	background-color: var(--primary);
	color: var(--light);
	--link: var(--tertiary);
	/* Layout */
	display: grid;
	grid-template-columns: 3fr 2fr;
}

body > footer aside {
	/* Position */
	--aside-margin: 10px;
	--aside-padding: 10px;
	--aside-border-width: 1px;
	--aside-margins: calc(calc(2 * var(--aside-padding)) + calc(2 * var(--aside-border-width)));
	grid-column: 1 / -1;
	width: calc(100% - var(--aisde-margins));
	margin: 0 0 var(--aside-margin) 0;
	padding: var(--aside-padding);
	border-radius: 10px;
	/* Color */
	background-color: var(--secundary);
	border: var(--aside-border-width) solid var(--light);
}

body > footer  ul {
	/* Position */
	margin: 0;
	/* Decoration */
	list-style-type: none;
	padding-left: 15px;
}

#site-copyright {
	grid-column: 1 / -1;
}

/***
 * Special
 ***/
#notifications {
	--notification-margin: 20px;
	position: fixed;
	top: calc(var(--nav-height) + var(--notification-margin));
	right: var(--notification-margin);
	max-width: calc(100vh - calc(2 * var(--notification-margin)));
}

/***
 * Utility layout classes
 ***/
.hidden, *[hidden=true] {
	display: inline-block;
	visibility: hidden !important;
	max-width: 0 !important;
	max-height: 0 !important;
	overflow: hidden !important;
	opacity: 0;
	padding: 0;
}

.push {
	margin-left: auto;
}
.columns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#toggle-notes {
	--margin-toggle-notes: 35px;
	--toggle-notes-size: 40px;
	position: fixed;
	bottom: var(--margin-toggle-notes);
	right: var(--margin-toggle-notes);
	background-color: var(--tertiary);
	border-radius: 50%;
	border: 1px solid var(--light);
	width: var(--toggle-notes-size);
	height: var(--toggle-notes-size);
	text-align: center;
	font-size: 35px;
	transition: 0.4s;
}
#toggle-notes:focus, #toggle-notes:hover {
	background-color: var(--primary);
}
#toggle-notes a {
	color: var(--light);
}
