p {
	font-family: sans-serif;
	text-indent: 10px;
}


a {
	color: var(--link);
	text-decoration: none;
	transition: 0.4s;
	font-family: sans-serif;
}
a:focus,
a:hover {
	color: var(--tertiary);
}

body > footer p,
body > footer address,
body > footer a {
	font-size: 10pt;
	margin: 0;
}

body > footer h1 {
	margin: 0;
	font-size: 12pt;
	text-align: center;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1, h2, h3, h4, h5, h6 {
	font-family: serif;
}
