{{ form_start(noteForm, {
'attr': {
'action': path('api_notes_post_collection'),
'method': 'POST',
'data-controller': 'notepad',
'data-success': 'message.note.saved' | trans
}
}) }}
{{ form_row(noteForm.title) }}
{{ form_row(noteForm.category) }}
{{ form_row(noteForm.content) }}
<button id="save-note" type="submit" class="success" data-action="notepad#save">{% trans %}btn.note.save{% endtrans %}</button>
{{ form_end(noteForm) }}
