<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block page %}{% trans %}site.title{% endtrans %}{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div id="notifications">
      {% for label, messages in app.flashes %}
        {% for message in messages %}
        <notification-message class="{{ label }}">
          <div slot="content">
            {% if label == 'error' %}
              {{ message | trans({}, 'validators') | raw }}
            {% else %}
              {{ message | trans | raw }}
            {% endif %}
          </div>
        </notification-message>
        {% endfor %}
      {% endfor %}
      {% block notifications%}
      {% endblock %}
    </div>
    {% include 'parts/menu.html.twig' %}
    {% if app.user %}
      <toggler-button id="toggle-notes" aria-controls="take-notes" aria-haspopup="dialog">
        <a slot="title" href="#take-notes">+</a>
      </toggler-button>
    {% else %}
    {% endif %}
    <main>
    {% block body %}
        <header>
            {% block header %}
              <decoration-quote></decoration-quote>
            <h1>{% block title %}{% endblock %}</h1>
            {% endblock %}
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
    </main>
    {% include 'parts/footer.html.twig' %}
    {% if app.user %}
      <modal-dialog id="take-notes" hidden="true">
        <section slot="content">
          <h2 slot="header">{% trans %}header.note.create{% endtrans %}</h2>
          {{ render(controller('App\\Controller\\NoteController::createNote')) }}
        </section>
      </modal-dialog>
    {% else %}
      <modal-dialog id="login-form" hidden="true">
        <h2 slot="header">{% trans %}header.login{% endtrans %}</h2>
        <section slot="content">
          {{ render(controller('App\\Controller\\UserController::loginForm')) }}
        </section>
      </modal-dialog>
    {% endif %}
    {% block modals %}
    {% endblock %}
    {% include 'elements/article-card.html.twig' %}
    {% include 'elements/toggler-button.html' %}
    {% include 'elements/menu-category.html' %}
    {% include 'elements/modal-dialog.html' %}
    {% include 'elements/notification-message.html' %}
    {% include 'elements/decoration-quote.html.twig' %}
    {% include 'elements/note-card.html.twig' %}
</body>

</html>
