{% extends 'base.html.twig' %}
{% block page %}{{ title }}{% endblock %}
{% block header %}
  <h2>{{ title }}</h2>
  <address>{{ author }}</address>
{% endblock %}
{% block content %}
  <a href="{{ path('list_articles') }}" class="btn">
    {% trans %}link.article.return.list{% endtrans %}
  </a>
  {{ article|raw }}
{% endblock %}
