<article-card
  data-link="{{ path('read_article', {'article': article.name}) }}"
  data-title="{{ article.title }}"
  data-content="{{ article.abstract }}"
  data-author="{{ article.author }}"
  data-created="{{ article.created }}">
</article-card>
