{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}article.list.title{% endtrans %}
{% endblock %}

{% block content %}
  <div data-controller="articles-list">
    {% for article in articles %}
      {% include 'article/card.html.twig' %}
    {% endfor %}
  </div>
{% endblock %}
