<footer>
    {% block footer %}
    <aside>
        <p>{% trans %}warning.dev{% endtrans %}</p>
    </aside>
    <section id="site-credits">
        <address>
            {% trans %}site.credit{% endtrans %}
            <a href="mailto:contact@catgolin.eu">&lt;contact@catgolin.eu&gt;</a>
            <br/>
            {% trans %}site.image.credit{% endtrans %}
        </address>
    </section>
    <nav id="footer-menu">
        <h1>{% trans %}title.menu{% endtrans %}</h1>
        <div class="columns">
            <ul id="translation-footnav">
                <li>{% trans %}menu.languages{% endtrans %}</li>
                {% for language in [{"code": "fr_FR", "language": "Français"}, {"code":"en", "language":"English"}] %}
                <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': language.code})) }}">{{ language.language }}</a></li>
                {% endfor %}
            </ul>
            <ul>
                <li>{% trans %}menu.about{% endtrans %}</li>
                <li><a href="{{ path("app_about") }}">{% trans %}link.about{% endtrans %}</a></li>
                <li><a href="{{ path("app_legal") }}">{% trans %}link.legal{% endtrans %}</a></li>
            </ul>
        </div>
    </nav>
    <section id="site-copyright">
        <p>{% trans %}site.copyright{% endtrans %}
    </section>
    {% endblock %}
</footer>
