<nav>
    <header>
        <h1>
            <a href="{{ path("app_home") }}">
                {% trans %}site.title{% endtrans %}
            </a>
        </h1>
        {% if app.user %}
          <a href="{{ path('user_profile') }}" class="push btn">{{ app.user.username }}</a>
          <a href="{{ path('app_logout') }}" class="btn">{% trans %}btn.logout{% endtrans %}</a>
        {% else %}
          <toggler-button class="push" aria-controls="login-form" aria-haspopup="dialog" title="{{ "help.link.login"|trans }}">
            <a class="btn" href="#login-form" slot="title">{% trans %}link.login{% endtrans %}</a>
          </toggler-button>
        {% endif %}
        <toggler-button aria-controls="navbar" data-title-open="{{ "btn.help.menu.open"|trans }}" data-title-close="{{ "btn.help.menu.close"| trans }}"></toggler-button>
    </header>
    <div id="navbar" role="tabs" hidden="true">
        <ul role="tablist">
        </ul>
        <menu-category id="menu-main" selected>
            <a class="menu-title">{% trans %}menu.main{% endtrans %}</a>
            <ul slot="categories">
                <li><a href="{{ path("list_articles") }}">{% trans %}link.articles{% endtrans %}</a></li>
                {% if app.user %}
                  <li><a href="{{ path("app_notes") }}">{% trans %}link.notes{% endtrans %}</a></li>
                {% else %}
                  <li><a href="{{ path("app_register") }}">{% trans %}link.register{% endtrans %}</a></li>
                {% endif %}
                <li><a href="{{ path("app_home") }}">{% trans %}link.home{% endtrans %}</a></li>
            </ul>
        </menu-category>
        <menu-category id="menu-about">
            <a class="menu-title">{% trans %}menu.about{% endtrans %}</a>
            <ul slot="categories">
                <li><a href="{{ path("app_about") }}">{% trans %}link.about{% endtrans %}</a></li>
                <li><a href="{{ path("app_home") }}">{% trans %}link.home{% endtrans %}</a></li>
                <li><a href="{{ path("app_legal") }}">{% trans %}link.legal{% endtrans %}</a></li>
            </ul>
        </menu-category>
        <menu-category id="menu-apps">
          <a class="menu-title">{% trans %}menu.apps{% endtrans %}</a>
          <ul slot="categories">
            <li><a href="https://mcdg.catgolin.eu">{% trans from 'context' %}link.mcdg{% endtrans %}</a></li>
          </ul>
        </menu-category>
    </div>
</nav>
