{{ form_start(confirmationForm) }}
{{ form_row(confirmationForm.password) }}
{{ form_row(confirmationForm._token) }}
<button type="submit" id="confirm-remove-profile">
  {% trans %}btn.confirm{% endtrans %}
</button>
{{ form_end(confirmationForm) }}
