<form action="{{ path('app_login') }}" method="post">
  <div>
    <label for="_username">{% trans %}label.username{% endtrans %}</label>
    <input type="text" id="_username" name="_username" value="{{ last_username }}" placeholder="{{ 'field.username'|trans }}" autocomplete="username" required/>
    <p class="help-text">{% trans %}help.username{% endtrans %}</p>
  </div>
  <div>
    <label for="_password">{% trans %}label.password{% endtrans %}</label>
    <input type="password" id="_password" name="_password" placeholder="{{ 'field.password'|trans }}" autocomplete="current-password" required/>
    <p class="help-text">{% trans %}help.password{% endtrans %}
  </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <button type="submit" id="login">{% trans %}btn.login{% endtrans %}</button>
    <a href="{{ path('app_register') }}" class="btn important" title="{{ 'btn.register'|trans }}">
      {% trans %}btn.register{% endtrans %}
    </a>
</form>
