{{ form_start(updatePasswordForm) }}
{{ form_row(updatePasswordForm.old) }}
{{ form_row(updatePasswordForm.new) }}
{{ form_row(updatePasswordForm._token) }}
<button type="submit" id="confirm-update-password">
  {% trans %}btn.update.password{% endtrans %}
</button>
{{ form_end(updatePasswordForm) }}
