{% extends 'base.html.twig' %}

{% block page %}{% trans %}title.login{% endtrans %}{% endblock %}

{% block notifications %}
{% if error %}
  <notification-message class="error">
    <div slot="content">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  </notification-message>
{% endif %}
{% endblock %}

{% block title %}{% trans %}header.login{% endtrans %}{% endblock %}
{% block content %}
{{ render(controller('App\\Controller\\UserController::loginForm')) }}
{% endblock %}
