{% extends 'base.html.twig' %}
{% block page %}{{ app.user.username }}{% endblock %}

{% block title %}<h1>{{ app.user.username }}</h1>{% endblock %}

{% block content %}
  <aside>
    <h2>{% trans %}header.profile.informations{% endtrans %}</h2>
    {{ form_start(updateProfileForm) }}
    {{ form_row(updateProfileForm.username) }}
    {{ form_row(updateProfileForm.email) }}
    <div>
      <label for="change-password">{% trans %}label.password{% endtrans %}</label>
      <toggler-button aria-controls="update-password" id="change-password">
        <a href="#update-password" class="btn important" slot="title">
          {% trans %}link.update.password{% endtrans %}
        </a>
      </toggler-button>
    </div>
    <button type="submit" id="update-profile">{% trans %}btn.profile.update{% endtrans %}</button>
    {{ form_row(updateProfileForm._token) }}
    {{ form_end(updateProfileForm) }}
    <toggler-button aria-controls="remove-profile">
      <a href="#remove-profile" class="btn important danger" slot="title">
        {% trans %}link.remove.profile{% endtrans %}
      </a>
    </toggler-button>
  </aside>
  <h2><a href="{{ path('app_notes') }}">{% trans %}header.notes{% endtrans %}</a></h2>
  <section data-controller="notes">
  </section>
{% endblock %}

{% block modals %}
  <modal-dialog id="update-password" hidden="true">
    <h2 slot="header">{% trans %}header.password.update{% endtrans %}</h2>
    <section slot="content">
      {% include 'user/_password.html.twig' %}
    </section>
  </modal-dialog>
  <modal-dialog id="remove-profile" hidden="true">
    <h2 slot="header">{% trans %}header.confirm.remove.profile{% endtrans %}</h2>
    <section slot="content">
      {% include 'user/_confirmation.html.twig' %}
    </section>
  </modal-dialog>
{% endblock %}
