{% extends 'base.html.twig' %}

{% block page %}{% trans %}title.register{% endtrans %}{% endblock %}

{% block notifications %}
  {% set errors = registrationForm.vars.errors.form.getErrors(true) %}
  {% for error in errors %}
  <notification-message class="error">
    <div slot="content">{{ error.message| raw }}</div>
  </notification-message>
  {% endfor %}
{% endblock %}

{% block title %}{% trans %}header.register{% endtrans %}{% endblock %}
{% block content %}
{{ form_start(registrationForm) }}
{{ form_row(registrationForm.username) }}
{{ form_row(registrationForm.password) }}
{{ form_row(registrationForm.email) }}
  <toggler-button aria-controls="legal-mentions">
    <a slot="title" href="#legal-mentions">{% trans %}link.legal{% endtrans %}</a>
  </toggler-button>
{{ form_row(registrationForm.agreeTerms) }}
{{ form_row(registrationForm._token) }}
<button type="submit" id="register">{% trans %}btn.register{% endtrans %}</button>
{{ form_end(registrationForm) }}
{% endblock %}

{% block modals %}
  <modal-dialog id="legal-mentions" hidden="true">
    <h2 slot="header">{% trans %}header.legal{% endtrans %}</h2>
    <div slot="content">
      {{ render(controller('App\\Controller\\LandingController::legalMentions')) }}
      </div>
    </modal-dialog>
{% endblock %}
